body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('clock-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction:column;
    gap: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.clock {
    color:white;
    font-size:6em;
}
.container{
   backdrop-filter: blur(5px);
   background-color: rgba(67, 214, 240, 0.205);
   padding: 10px 20px;
   border-radius: 10px;
   box-shadow: 8px 8px 16px ;
}
button{
    font-size: 30px;
    padding: 10px 20px;
    color:white;
    background-color: rgb(32, 122, 122);
    border: none;
    border-radius: 8px;
     box-shadow: 8px 8px 16px  black;
}
#btn{
display: flex;
gap: 30px;

}
#stopwatch{
    color:white;
}
h1{
    color:white;
    font-size:3rem;
    margin-bottom:10px;
}
